<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myInsurance" class="com.norha.spring.BikeInsurance">
		<property name="wembers">
			<map>
				<entry key="Father" value="John"></entry>
				<entry key="Brother" value="Jose"></entry>
				<entry key="Holder" value="Joseph"></entry>
			</map>
		</property>
	</bean>

</beans> 